.centered{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;
}
.horiz-centered{
	left:50%;
	transform:translateX(-50%);
	text-align:center;
}

.big-icon-button{
	min-width:48px;
	width:48px;
	height:48px;
}
.big-icon-button .material-icons{
	transform: translate(-24px,-24px);
	font-size:48px;
	line-height:48px;
	width:48px;
}

/*.icon-button:hover{
	background-color:transparent;
	filter:brightness(80%);
}*/

.mdl-menu[condensed]{
	padding:0;
}
.mdl-menu[condensed] > .mdl-menu__item {
	line-height:32px;
	height:32px;
}


.potential-spin{
	transition: transform ease 1s;
}
.spin{
	transform: rotate(360deg);
}

ul[type=horizontal]{
	overflow:auto;
	display: block;
	white-space:nowrap;
}
ul[type=horizontal] > li{
	display:inline-block;
}

.video-container{
	width:200px;
	height:100px;
}
.potential-video-container{
	border-style:dashed;
	border-color:#ccc;
	border-width:3px;
	text-align:center;
	vertical-align:middle;
}

